﻿@model List<TopicsMenuModel>

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-outline-primary">
            <a class="nav-link active" asp-controller="Topic" asp-action="Index">
                <h7 class="text-white">Темы</h7>
                <span class="visually-hidden">(current)</span>
            </a>
        </button>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                @foreach (var topic in Model)
                {
                    <a class="dropdown-item" asp-controller="Game" asp-action="Index" asp-route-topicId="@topic.Id">@topic.Name</a>
                }
            </div>
        </div>
    </div>
