﻿@model Domain.Models.Users.UserLoginModel

@{
    ViewData["Title"] = "Вход";
    Layout = "_HomeWithoutWidgetsLayout";
}

<h1 class="text-center">Вход</h1>

<hr />

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="User" asp-route-ReturnUrl=@Model.ReturnUrl method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <h4></h4>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-outline-info" />
            </div>
        </form>
        <h2></h2>
        <p>Вы еще не зарегистрированны? <a asp-controller="User" asp-action="Registr">Зарегистрироваться</a></p>
    </div>
</div>
