﻿@model Domain.Models.Users.UserRegistrModel 

@{
    ViewData["Title"] = "Регистрация";
    Layout = "_HomeWithoutWidgetsLayout";
}

<h1 class="text-center">Регистрация</h1>

<hr />

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form asp-action="Registr">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label"></label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationToken" class="control-label"></label>
                <input asp-for="RegistrationToken" class="form-control" />
                <span asp-validation-for="RegistrationToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <h4></h4>
            <div class="form-group">
                <input type="submit" value="Зарегистрироваться" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>
