﻿@model UserWidgetModel

@if (Model.UserId.HasValue)
{
    <span class="badge rounded-pill bg-primary">
        <a class="nav-link active" asp-controller="User" asp-action="Logout">
            <h7 class="text-white">@Model.FirstName</h7>
            <span class="visually-hidden">(current)</span>
        </a>
    </span>
}
else
{
    <span class="badge bg-primary">
        <a class="nav-link active" asp-controller="User" asp-action="Login">
            <h7 class="text-white">ВХОД</h7>
            <span class="visually-hidden">(current)</span>
        </a>
    </span>
}