﻿@model GameDetailsModel

@{
    Layout = "_BaseLayout";

    ViewData["PreliminaryTest"] = "btn-outline-secondary";
    ViewData["Lecture"] = "btn-outline-secondary";
    ViewData["Game"] = "btn-outline-secondary";
    ViewData["FinalTest"] = "btn-outline-secondary";

    switch (Model.GamePartType)
    {
        case DomainServices.Games.GamePartType.PreliminaryTest:
            ViewData["PreliminaryTest"] = "btn-secondary";
            break;
        case DomainServices.Games.GamePartType.Lecture:
            ViewData["Lecture"] = "btn-secondary";
            break;
        case DomainServices.Games.GamePartType.Game:
            ViewData["Game"] = "btn-secondary";
            break;
        case DomainServices.Games.GamePartType.FinalTest:
            ViewData["FinalTest"] = "btn-secondary";
            break;
    }
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid row justify-content-md-center">

        <div class="col d-grid gap-2" id="navbarColor03">
            <button type="button" class="btn @ViewData["PreliminaryTest"] d-block">
                <a class="nav-link active text-white" asp-controller="Game" asp-action="Details" asp-route-gameId="@Model.GameId" asp-route-partType="PreliminaryTest">
                    Входные тестирования
                </a>
            </button>
        </div>

        <div class="col d-grid gap-2" id="navbarColor03">
            <button type="button" class="btn @ViewData["Lecture"]  d-block">
                <a class="nav-link active text-white" asp-controller="Game" asp-action="Details" asp-route-gameId="@Model.GameId" asp-route-partType="Lecture">
                    Лекции
                </a>
            </button>
        </div>

        <div class="col d-grid gap-2" id="navbarColor03">
            <button type="button" class="btn @ViewData["Game"] d-block">
                <a class="nav-link active text-white" asp-controller="Game" asp-action="Details" asp-route-gameId="@Model.GameId" asp-route-partType="Game">
                    Игра
                </a>
            </button>
        </div>

        <div class="col d-grid gap-2" id="navbarColor03">
            <button type="button" class="btn @ViewData["FinalTest"]  d-block">
                <a class="nav-link active text-white" asp-controller="Game" asp-action="Details" asp-route-gameId="@Model.GameId" asp-route-partType="FinalTest">
                    Выходные тестирования
                </a>
            </button>
        </div>

    </div>
</nav>

<h1>
</h1>

@switch (Model.GamePartType)
{
    case DomainServices.Games.GamePartType.PreliminaryTest:
        <div class="bs-component">
            <div class="row justify-content-center">
                @foreach (var preliminaryTest in Model.PreliminaryTests)
                {
                    @await Html.PartialAsync("PreliminaryTestCard", preliminaryTest);
                }
                @if (Model.IsCompanyAdmin)
                {
                    <div class="card border-secondary col-lg-3 mb-4 mx-2">
                        <div class="card-body row align-items-center" style="transform: rotate(0)">
                            <div class="col">
                                <a asp-controller="" asp-action="" asp-route-topicId="" class="stretched-link"></a>
                                <img src="~/Files/Icons/Plus1.png" class="d-block user-select-none" clss="img-thumbnail d-block user-select-none" width="100%" height="60%">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        break;
    case DomainServices.Games.GamePartType.Lecture:
        <div class="bs-component">
            <div class="row justify-content-center">
                @foreach (var lecture in Model.Lectures)
                {
                    @await Html.PartialAsync("LectureCard", lecture)
                }
                @if (Model.IsCompanyAdmin)
                {
                    <div class="card border-secondary col-lg-3 mb-4 mx-2">
                        <div class="card-body row align-items-center" style="transform: rotate(0)">
                            <div class="col">
                                <a asp-controller="Lecture" asp-action="Add" asp-route-gameId="@Model.GameId" class="stretched-link"></a>
                                <img src="~/Files/Icons/Plus1.png" class="d-block user-select-none" clss="img-thumbnail d-block user-select-none" width="100%" height="60%">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        break;
    case DomainServices.Games.GamePartType.Game:
        <div class="bs-component">
            <div class="row justify-content-center">
                @foreach (var generalTest in Model.GeneralTests)
                {
                    @await Html.PartialAsync("GeneralTestCard", generalTest);
                }
                @if (Model.IsCompanyAdmin)
                {
                    <div class="card border-secondary col-lg-3 mb-4 mx-2">
                        <div class="card-body row align-items-center" style="transform: rotate(0)">
                            <div class="col">
                                <a asp-controller="" asp-action="" asp-route-topicId="" class="stretched-link"></a>
                                <img src="~/Files/Icons/Plus1.png" class="d-block user-select-none" clss="img-thumbnail d-block user-select-none" width="100%" height="60%">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        break;
    case DomainServices.Games.GamePartType.FinalTest:
        <div class="bs-component">
            <div class="row justify-content-center">
                @foreach (var finalyTest in Model.FinalyTests)
                {
                    @await Html.PartialAsync("FinalyTestCard", finalyTest);
                }
                @if (Model.IsCompanyAdmin)
                {
                    <div class="card border-secondary col-lg-3 mb-4 mx-2">
                        <div class="card-body row align-items-center" style="transform: rotate(0)">
                            <div class="col">
                                <a asp-controller="" asp-action="" asp-route-topicId="" class="stretched-link"></a>
                                <img src="~/Files/Icons/Plus1.png" class="d-block user-select-none" clss="img-thumbnail d-block user-select-none" width="100%" height="60%">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        break;
}