﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diploma</title>
    <link rel="stylesheet" href="~/lib/bootstrap-vapor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-black bg-black">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">DIPLOMA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">

                        </li>

                    </ul>
                    <div class="bs-component text-right">
                        <div class="btn-group">
                            <span class="badge bg-dark">
                                <a class="nav-link active" asp-controller="User" asp-action="Login">
                                    <h7 class="text-white">ВХОД</h7>
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <video autoplay loop muted class="bgvideo" id="bgvideo" poster="~/BackgroundVideo/poster.png">
        <source src="~/Files/BackgroundVideo/matrixBW.mp4"></source>
        <source src="~/Files/BackgroundVideo/matrixBW.webm" type="video/webm"></source>
    </video>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-white">
            &copy; 2022 - Diploma - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-vapor/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
