﻿@model IndexTopicModel
@{
    ViewData["Title"] = "Темы";
    Layout = "_BaseLayout";
}

<div>
    <hr />
    <div class="bs-component">
        <div class="row justify-content-center">
            <h2 class="text-center">Темы</h2>
            <h1>

            </h1>
            @foreach (var topic in Model.CardTopicModels)
            {
                @await Html.PartialAsync("TopicCard", topic)
            }
            @if (Model.IsCompanyAdmin)
            {
                <div class="card border-secondary col-lg-3 mb-4 mx-2">
                    <div class="card-body row align-items-center" style="transform: rotate(0)">
                        <div class="col">
                            <a asp-controller="Topic" asp-action="Add" class="stretched-link"></a>
                            <img src="~/Files/Icons/Plus1.png" class="d-block user-select-none" clss="img-thumbnail d-block user-select-none" width="100%" height="60%">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>