﻿@model CardTopicModel


<div class="card border-light col-lg-3 mb-4 mx-2">

    <div class="card-body" style="transform: rotate(0)">
        <a asp-controller="Game" asp-action="Index" asp-route-topicId="@Model.Id" class="stretched-link"></a>
        <h5 class="card-title">@Model.Name</h5>
    </div>


    <div class="card-body" style="transform: rotate(0)">
        <a asp-controller="Game" asp-action="Index" asp-route-topicId="@Model.Id" class="stretched-link"></a> 
        @if (Model.Preview != null)
        {
            <img src="~/Files/Topics/Previewes/@Model.Preview.Name" class="d-block user-select-none" clss="img-thumbnail d-block user-select-none" width="100%" height="100%">
        }
        else
        {
            <img src="~/Files/Images/NoImage.png" class="d-block user-select-none" clss="img-thumbnail d-block user-select-none" width="100%" height="100%">
        }
    </div>


    <div class="card-body" style="transform: rotate(0)">
        <a asp-controller="Game" asp-action="Index" asp-route-topicId="@Model.Id" class="stretched-link"></a>
        <p class="card-text">@Model.Description</p>
    </div>
</div>