﻿@model StatisticTestModel
@{
    ViewData["Title"] = "Статистика";
    Layout = "_BaseLayout";
}

<div class="text-center">
    <h1>Статистика по тесту</h1>
</div>

<hr />

<div class="container">
    <div class="row justify-content-md-center">

        @foreach (var question in Model.StatisticQuestionModels)
        {
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">@Html.Raw(question.QuestionText)</div>
                <div class="card-body">
                    <h5 class="card-title">Варианты ответов:</h5>
                    @foreach (var answer in question.Answers)
                    {
                        if (question.CorrectAnswerIds.Contains(answer.Id))
                        {
                            <p class="card-text" style="color:#00FF00">@answer.Text</p>
                        }
                        else
                        {
                            <p class="card-text">@answer.Text</p>
                        }
                    }
                    <div class="alert alert-dismissible alert-light">
                        <h6 class="card-title">Максимальный балл за вопрос: @question.MaxPointsForQuestion</h6>
                        <h6 class="card-title" style="color: #000000">Ваш балл за вопрос: @question.UserPoints</h6>
                    </div>

                </div>
            </div>
        }

    </div>
</div>