﻿@model ICollection<StatisticModelForAdmin>
@{
    ViewData["Title"] = "Статистика";
    Layout = "_BaseLayout";
}

<div class="text-center">
    <h1>Статистика</h1>
</div>

<hr />

<div class="container">
    <form asp-controller="Statictic" asp-action="GetStatistic" method="get" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row justify-content-md-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Фамилия участника</th>
                        <th scope="col">Название тестирования</th>
                        <th scope="col">Этап</th>
                        <th scope="col">Набранные баллы</th>
                        <th scope="col">Максимальное количство баллов</th>
                        <th scope="col">Правильные ответы в %</th>
                    </tr>
                </thead>
                @foreach (var test in Model)
                {
                    <tbody>
                        <tr class="table-dark">
                            <td>@test.UserName</td>
                            <td>@test.TestName</td>
                            @switch (test.TestStage)
                            {
                                case Domain.Models.Tests.TopicStage.PreliminaryTest:
                                    <td>Входное тестирование</td>
                                    break;
                                case Domain.Models.Tests.TopicStage.Game:
                                    <td>Игра</td>
                                    break;
                                case Domain.Models.Tests.TopicStage.FinalTest:
                                    <td>Итоговое тестирование</td>
                                    break;
                            }
                            <td>@test.UserPoints</td>
                            <td>@test.MaxPointsForTest</td>
                            <td>@test.PointInPersent</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </form>
</div>