﻿@model ICollection<StatisticModel>
@{
    ViewData["Title"] = "Статистика";
    Layout = "_BaseLayout";
}

<div class="text-center">
    <h1>Статистика</h1>
</div>

<hr />

<div class="container">
    <div class="row justify-content-md-center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Название тестирования</th>
                    <th scope="col">Этап</th>
                    <th scope="col">Набранные баллы</th>
                    <th scope="col">Максимальное количство баллов</th>
                    <th scope="col">Правильные ответы в %</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var statistic in Model)
                {
                    <tr class="table-dark">
                        <td>
                            <div>
                                <a asp-controller="Statistic" asp-action="FullStatistic" asp-route-testId="@statistic.TestId" asp-route-userId="@statistic.UserId" style="text-decoration: none;">@statistic.TestName</a>                                
                            </div>
                        </td>
                        @switch (statistic.TestStage)
                        {
                            case Domain.Models.Tests.TopicStage.PreliminaryTest:
                                <td>Входное тестирование</td>
                                break;
                            case Domain.Models.Tests.TopicStage.Game:
                                <td>Игра</td>
                                break;
                            case Domain.Models.Tests.TopicStage.FinalTest:
                                <td>Итоговое тестирование</td>
                                break;
                        }
                        <td>@statistic.UserPoints</td>
                        <td>@statistic.MaxPointsForTest</td>
                        <td>@statistic.PointInPersent</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>