﻿@model Domain.Models.Tests.AddTestModel

@{
    ViewData["Title"] = "Добавление теста";
    Layout = "_BaseLayout";
}

<div class="text-center">
    <h1>Добавление теста</h1>
</div>

<hr />

<div class="container">
    <form asp-controller="Test" asp-action="Add" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row justify-content-md-center">
            <div class="col-5">
                <div class="text-center">
                    <h4>Описание теста</h4>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                    </label>
                </div>
            </div>
            <div class="col-5">
                <div class="text-center">
                    <h4>Файлы для добавления</h4>
                </div>
                <div class="form-group">
                    <label asp-for="Prewiew" class="control-label"></label>
                    <input asp-for="Prewiew" class="form-control" />
                    <span asp-validation-for="Prewiew" class="text-danger"></span>
                </div>
            </div>
            <input asp-for="TopicId" type="hidden" class="form-control" />
            <h4></h4>
            <div class="form-group text-center">
                <input type="submit" value="Далее" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>