﻿@{
    ViewData["Title"] = "Конец";
    Layout = "_BaseLayout";
}

<div class="alert alert-dismissible alert-success">
    <h4 class="alert-heading">Конец</h4>
    <p class="mb-0">Тест пройден.</p>
</div>
