﻿@model Diploma.Models.QuestionModel
@{
    ViewData["Title"] = "Тест";
    Layout = "_BaseLayout";
}

@*<div class="text-white display-7">
    @Html.Raw(Model.Text)
</div>*@

<p>
    <big class="text-white">
        @Html.Raw(Model.Text)
    </big>
</p>


@foreach (var image in Model.Images)
    {
    <img src="~/@image.Path" width="650">
    }

@*<div class="row row-cols-1">
    @foreach (var image in Model.Images)
    {
    <div class="row">
        <img src="~/@image.Path" class="user-select-none text-center" class="img-thumbnail d-block user-select-none" width="100" height="100">
    </div>
    }
</div>*@


<form asp-controller="Test" asp-action="GetNextQuestion" asp-route-testId="@Model.TestId" asp-route-questionId="@Model.Id" method="post">

    @if (Model.Type == Domain.Models.Questions.QuestionType.Multy)
        {
    <p>
        <big class="text-warning">
            <h1>
            </h1>
            Вам необходимо выбрать актуальные угрозы и методы их нейтрализации:
            <h1>
            </h1>
        </big>
    </p>
        }

    @foreach (var answer in Model.Answers)
    {
    @if (Model.Type == Domain.Models.Questions.QuestionType.Single)
        {
    <p>
        <big class="text-warning">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="selectedAnswers" id="flexCheckDefault" value="@answer.Id">
                    <div class="text-white display-7">@answer.Text</div>
                </label>
            </div>
        </big>
    </p>
    @*<div class="form-check">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="selectedAnswers" id="flexCheckDefault" value="@answer.Id">
                <div class="text-white display-7">@answer.Text</div>
            </label>
        </div>*@
        }
        else
        {
    <p>
        <big class="text-warning">
            <div class="form-check">
                <label class="form-check-label" for="flexCheckDefault">
                    <input type="checkbox" class="form-check-input" name="selectedAnswers" id="flexCheckDefault" value="@answer.Id">
                    <div class="text-white display-7">@answer.Text</div>
                </label>
            </div>
        </big>
    </p>
    @*<div class="form-check">
            <label class="form-check-label" for="flexCheckDefault">
                <input type="checkbox" class="form-check-input" name="selectedAnswers" id="flexCheckDefault" value="@answer.Id">
                <div class="text-white display-7">@answer.Text</div>
            </label>
        </div>*@
        }
    }


    <div class="row">
        <button type="submit" class="btn btn-outline-secondary">Далее</button>
    </div>
</form>