﻿@{
    ViewData["Title"] = "Время вышло";
    Layout = "_BaseLayout";
}

<div class="alert alert-dismissible alert-warning">
    <h4 class="alert-heading">Внимание!</h4>
    <p class="mb-0">Время вышло.</p>
</div>